{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html data-ng-app="TicTacToeNg">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Tic Tac Toe using AngularJs</title>

    {% block scripts %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

</head>
<body>

    <div class="header">
        {% block header %}{% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        {% block footer %}{% endblock %}
    </div>

</body>
</html>
