{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html data-ng-app="BlackJackNg">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>BlackJack using AngularJs</title>

    {% block scripts %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

</head>
<body class="container">

    <div class="header">
        {% block header %}
            <h2>A BlackJack game working purely on amazing AngularJS.</h2>
            <hr>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        {% block footer %}
            <hr>
            Made by <a href="https://saurabhgoyal.github.io">Saurabh Goyal</a> using knowkedge from <a href="#">here</a>.
        {% endblock %}
    </div>

</body>
</html>
