{% extends 'base.html' %}

{% load compress %}
{% load staticfiles %}

{%  block scripts %}

    {# Required basic scripts #}
    <script type="text/javascript" src="{% static 'scripts/libs/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/config.js' %}"></script>

    {# Required angular-service scripts #}
    <script type="text/javascript" src="{% static 'scripts/services/shuffler.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/card.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/deck.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/hand.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/dealer.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/player.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/blackjack.js' %}"></script>

    {# Required angular-controller scripts #}
    <script type="text/javascript" src="{% static 'scripts/controllers/game_page.js' %}"></script>

{% endblock %}

{%  block content %}
    <div class="GamePage" data-ng-controller="GamePageCtrl as gamePage">
        <div class="gameStatusBar" data-ng-hide="gamePage.game">
            <input name="numberOfDecks" type="number" data-ng-model="gamePage.numberOfDecks" />
            <input name="dealerName" type="text" data-ng-model="gamePage.dealerName" />
            <button data-ng-click="gamePage.startGame()">Start Game</button>
        </div>
        <div class="gameStatusBar" data-ng-show="gamePage.game">
            Game started with <span data-ng-bind="gamePage.numberOfDecks"></span> decks.
        </div>
        <div class="dealerArea" data-ng-show="gamePage.game">
            <div class="dealerInfo">
                <ul>
                    <li>Name: <span data-ng-bind="gamePage.dealer.getName()"></span></li>
                    <li>Score: <span data-ng-bind="gamePage.dealer.getHand().getScore()"></span></li>
                    <ul>
                        <li>
                        <div class="cardsInfo" data-ng-repeat="card in gamePage.dealer.getHand().getCards()">
                            Card: <span data-ng-bind="card.prettyPrint()"></span>
                        </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="playersArea">
            <div class="playersInfo" data-ng-repeat="player in gamePage.game.players">
                <ul>
                    <li>Name: <span data-ng-bind="player.getName()"></span></li>
                    <li>Bet: <span data-ng-bind="player.getBet()"></span></li>
                    <li>Score: <span data-ng-bind="player.getHand().getScore()"></span></li>
                    <ul>
                        <li>
                        <div class="cardssInfo" data-ng-repeat="card in player.getHand().getCards()">
                            Card: <span data-ng-bind="card.getNumberPretty()"></span> of <span data-ng-bind="card.getSuitPretty()"></span>
                        </div>
                        </li>
                    </ul>
                    <li>
                        <button data-ng-click="gamePage.game.deal(player)">Deal more</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{%  endblock %}
